.setlist {
  padding-top: 125px;
  padding-bottom: 25px;
  border-bottom: var(--main-bar);
}
.setlist__li {
  margin-bottom: 25px;
  display: flex;
  align-items: center;
}
.setlist__text {
  margin-left: 25px;
  font-size: 20px;
}
.setlist__li i {
  opacity: 0.8;
}
.setlist__columm {
  margin-left: auto;
  opacity: 0.8;
  font-size: 20px;
}
