#chatting {
  background-color: #abc1d1;
}
.alt-header__text {
  padding-left: 50px;
}
.chatting-screen__header {
  opacity: 0.5;
  background-color: var(--title-color);
  padding: 7px 15px;
  border-radius: 20px;
  color: white;
  margin-top: 15px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}
.chatting-screen__head {
  display: flex;
  align-items: center;
  justify-content: center;
}
.chatting-screen__columm__nicolas {
  display: flex;
}
.chatting-screen__avatar {
  width: 60px;
  height: 60px;
  border-radius: 35%;
  margin-right: 10px;
}
.chatting-screen__title {
  font-size: 15px;
  opacity: 0.8;
}
.chatting-screen__text__bubble {
  display: flex;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}
.chatting-screen__columm__me {
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
}
.chatting-screen__subtitle {
  margin-top: 8px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 17;
}
.chatting-screen__title-not-bold {
  font-weight: 400;
}
.chatting-screen__avatar--sm {
  width: 50px;
  height: 50px;
}
