#friends-display-link {
  display: block;
  text-align: center;
  background-color: #fafafa;
  font-size: 16px;
  padding: 15px;
  margin-bottom: 10px;
}
#friends-display-link i {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.3);
}
.friends-screen {
  padding: 0px var(--horizontal-space);
}
.friends-screen__channel {
  border-top: var(--main-bar);
  margin-bottom: 15px;
}
.friends-screen__channel-header {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  color: rgba(0, 0, 0, 0.3);
}
.real-kakao {
  background-color: var(--yellow);
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 110px;
  animation: kakao 0.3s ease-in-out 1s forwards;
}
@keyframes kakao {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
